.category-header {
  display: flex;
  height: 25px;
  padding-left: 20px;
}

.categoryheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
  margin-left: 5px;
}

.viewcategorydetails {
  margin-right: 3px;
  color: #777;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.viewdetails {
  border: 1px solid #888;
  border-radius: 5px !important;
  height: 27px;
  justify-content: center;
  /* width: 22%; */
  float: right;
  margin-left: 0px;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 10px;
}

.categoryreport {
  display: flex;
  justify-content: flex-end;
}

/* For Table Container */
.table-container {
  max-height: 300px;
  overflow-y: auto;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* For Table */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table header */
.table-container thead {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;

  /* z-index: 1; */
}

/* Style the table header cells */
.table-container th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style the table body cells */
.table-container td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Hover effect on table rows */
.table-container tbody tr:hover {
  background-color: #ddd;
}

/* Style the virtual scroll items */
.table-container .example-item {
  transition: background-color 0.3s ease;
}

.table-container .example-item:hover {
  background-color: #ddd;
}

.chart-box {
  /* width: 95%; */
  height: 400px;
  background-color: none;
  padding: 5px;
  justify-content: center;
  margin-bottom: 10px;
  /* margin-left: 35px; */
}
.chart-size {
  width: 90%;
  height: 90%;
  margin-top: 10px;
}

/* For Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px; /* Increased width for better display */
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px;
  text-align: left; /* Adjusted text alignment */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box-shadow for better visibility */
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 40px;
  font-family: Arial;
  text-align: center;
}

.info {
  color: #666;
  margin-top: 12px;
}

.arrowicon {
  color: #666;
  font-weight: 700;
}

canvas {
  height: 300px !important;
}

.viewdetails:hover {
  cursor: pointer;
  background-color: #0773bc;
}

.viewdetails:active {
  background-color: #0056a3;
  transform: scale(0.98);
}

.viewdetails:hover .viewcategorydetails {
  color: white;
}

.viewdetails:hover .arrowicon {
  color: white !important;
}

@media only screen and (max-width: 1468px) and (min-width: 768px) {
  .categoryheading {
    font-size: 13px;
    margin-top: 3px;
  }

  .categoryreport {
    padding-right: 0px !important;
  }

  .info {
    font-size: 13px;
    margin-top: 6px;
  }

  .viewdetails {
    height: 22px;
    justify-content: center;
    width: 90px;
    margin-top: 20px;
  }

  .viewcategorydetails {
    margin-right: 3px;
    font-size: 11px;
  }

  .table-container th {
    font-size: 12px;
    padding: 8px;
  }

  .table-container td {
    font-size: 12px;
    padding: 8px;
  }

  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-container {
    max-height: 200px;
    overflow-y: auto;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
  }

  .container {
    padding-left: 10px;
    padding-right: 0px;
    margin-top: -10px;
  }
  canvas {
    height: 200px !important;
    width: 80% !important;
    margin-left: 50px !important;
  }
}
